THIS IS MY SELCECTED ALBUM: {{id}} <br />

<div class="row">
    {{#each photo in photos}}
        <div class="col-md-2">
            <img {{bind-attr src=photo.thumb}} />
        </div>
    {{/each}}
</div>


