{{#each album in arrangedContent}}
    <div>
        {{#link-to "album" album}}
            <img {{bind-attr src=album.cover.thumbnail}} /> {{album.id}} - {{album.sortIndex}}
        {{/link-to}}
    </div>
{{/each}}